[Service]
Environment={% if docker_http_proxy_defined %}"http_proxy={{ docker_http_proxy }}"{% endif %}{% if docker_https_proxy_defined %}"https_proxy={{ docker_https_proxy }}"{% endif %}{% if docker_no_proxy_defined %}"no_proxy={{ docker_no_proxy }}"{% endif %}
